div p {
    background-color: #ffffff;
    color: black;
    padding: 5px;
    font-size: 20px;
    width: 70%;
}

body {
    background-image: url('background.jpg');
    background-size: cover;
}

#myCanvas {
    border-width: 10px;
    background-color: white;
    border-style: ridge;
}